body {
  background-color: #043b53;
  color: white;
  margin: 0;
  font-size: 14px; }

header {
  color: white;
  background-color: #043b53;
  padding-top: 1%;
  max-height: 5%; }
  header nav {
    justify-content: space-between;
    color: white;
    text-decoration: none; }
    header nav a img {
      max-width: 235px;
      max-height: 165px; }
    header nav #menu {
      margin-left: 0%; }
      header nav #menu ul #navblanco {
        height: 100%; }
        header nav #menu ul #navblanco:hover {
          background-color: #011c27;
          color: white; }
        header nav #menu ul #navblanco a {
          color: white;
          text-decoration: none; }
      header nav #menu ul #navcont {
        background-color: white; }
        header nav #menu ul #navcont a {
          color: #011c27;
          text-decoration: none; }

#middle {
  background-color: #043b53;
  color: white;
  position: relative;
  min-height: 100vh; }
  #middle #info-narbeli {
    background-color: orange;
    padding: 3%;
    margin-top: 15%; }
  #middle #ad {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px; }
    #middle #ad p {
      background-color: palevioletred;
      height: 60px;
      text-align: center; }

#middle-index #ad-index {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px; }
  #middle-index #ad-index p {
    background-color: palevioletred;
    height: 60px;
    text-align: center; }

#feed-left {
  margin-top: 7%;
  background-color: #043b53;
  padding: 3%; }
  #feed-left #feed {
    background-color: #043b53;
    padding: 3%;
    width: 60%;
    margin-left: 0;
    margin-right: 0; }
    #feed-left #feed:hover {
      background-color: #011c27;
      transition-delay: 50ms;
      cursor: pointer; }

#artistas ul {
  list-style-type: none;
  font-weight: bold;
  padding-top: 12%;
  padding-bottom: 10%;
  text-align: center; }
  #artistas ul li {
    max-width: 250px;
    min-height: 250px;
    margin-bottom: 5%; }
    #artistas ul li:hover {
      font-size: 18px;
      transform: ease 50ms;
      cursor: pointer;
      opacity: 60%; }
      #artistas ul li:hover a {
        min-width: 250px;
        min-height: 250px;
        padding-top: 45%; }
        #artistas ul li:hover a p {
          width: 250px;
          height: 250px; }
  #artistas ul #parsec {
    background-image: url(../images/parsec.png); }
  #artistas ul #circo {
    background-image: url(../images/circo_demons.png); }
  #artistas ul #bian {
    background-image: url(../images/bianxhi.png); }
  #artistas ul #guada {
    background-image: url(../images/guada.png); }
  #artistas ul #aquelo {
    background-image: url(../images/aquelo.png);
    color: #b90d63; }
  #artistas ul #lucia {
    background-image: url(../images/lu.png);
    color: #141479; }
  #artistas ul #ladro {
    background-image: url(../images/ladro.png);
    color: black; }
  #artistas ul #aftern {
    background-image: url(../images/an.png);
    color: black; }
  #artistas ul #cande {
    background-image: url(../images/cande.png);
    color: #f1d222; }

#fechas {
  background-color: #011c27;
  color: white;
  font-weight: bold;
  margin-top: 15%;
  text-align: center; }
  #fechas #border-table {
    background-color: white;
    color: #011c27; }

#modal_contacto {
  background-color: silver;
  color: black; }

#temario ul {
  list-style-type: none;
  padding-top: 15%;
  padding-left: 0;
  text-align: center; }
  #temario ul li {
    background-color: orange;
    border: white solid 1px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto auto 1% auto;
    width: 90%;
    cursor: pointer; }
    #temario ul li:hover {
      color: white;
      background-color: #043b53;
      transition: 300ms; }
    #temario ul li a {
      text-decoration: none;
      color: white;
      width: 100%;
      height: 100%;
      margin: 0; }
      #temario ul li a p {
        margin: 0;
        padding: 0; }

footer {
  background-image: linear-gradient(to top, #011c27, #043b53);
  height: auto;
  position: relative;
  bottom: 0; }
  footer .fa {
    padding: 20px;
    font-size: 14px;
    width: 5%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%; }
    footer .fa:hover {
      color: orange; }

@media (max-width: 576px) {
  #middle #ad {
    margin-top: 120px;
    height: 320px; }
    #middle #ad p {
      height: 100%; }
  #middle-index #ad-index {
    margin-top: 80px;
    height: 320px; }
    #middle-index #ad-index p {
      height: 100%; }
  #temario {
    margin: 0; }
    #temario ul li {
      width: 100%;
      margin: auto auto 3% auto; } }

@media (min-width: 576px) {
  body {
    font-size: 16px; }
  div {
    margin-right: 15%; }
    div aside {
      min-width: 90%;
      background-color: orange;
      height: 150px; }
  #middle #ad {
    margin-top: 120px; }
    #middle #ad p {
      height: 120px; }
  #middle-index #ad-index {
    margin-top: 120px; }
    #middle-index #ad-index p {
      height: 120px; }
  #temario ul li {
    margin: auto auto 2% auto; }
  #artistas ul #lucia {
    display: none; } }

@media (min-width: 992px) {
  header nav #menu {
    margin-left: 30%; }
  #temario ul li {
    margin: auto auto 1,5% auto; }
  #artistas ul {
    list-style-type: none;
    font-weight: bold;
    padding-top: 12%;
    padding-bottom: 10%;
    text-align: center;
    display: grid;
    grid-template-areas: "parsec circo bian" "guada aquelo lucia" "ladro aftern cande";
    justify-content: space-evenly; }
    #artistas ul li {
      width: 250px;
      height: 250px;
      padding-top: 45%; } }

@media (min-width: 1200px) {
  #middle #ad {
    margin-top: 200px; }
    #middle #ad p {
      height: 200px; }
  #middle-index {
    position: relative;
    min-height: 100vh; }
    #middle-index #index {
      display: grid;
      grid-template-areas: "feed feed ad"; }
      #middle-index #index #feed-left {
        grid-area: "feed"; }
      #middle-index #index #ad-index {
        grid-area: "ad";
        height: 100%; }
        #middle-index #index #ad-index p {
          width: 280px;
          height: 650px; } }
