$blue: #043b53;
$dark-blue: #011c27;
$base-font-size: 16px;

body{
    background-color: $blue;
    color: white;
    margin: 0;
}

header {
    color: white;
    background-color: $blue;
    padding-top: 1%;
    max-height: 5%;
    nav {
        justify-content: space-between;
        color: white;
        text-decoration: none;
        a img {
            max-width: 235px;
            max-height: 165px;
        }
        #menu {
            margin-left: 0%;
            ul{ 
                #navblanco {
                    height: 100%;
                    &:hover {
                        background-color: $dark-blue;
                        color: white;
                    }
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
                #navcont {
                        background-color: white;
                    a{
                        color: $dark-blue;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#middle {
    background-color: $blue;
    color: white;
    position: relative;
    min-height: 100vh;
    #info-narbeli {
        background-color: orange;
        padding: 3%;
        margin-top: 7%;
    }
}

#feed-left {
    margin-top: 7%;
    background-color: $blue;
    padding: 3%;
    #feed {
        background-color: $blue;
        padding: 3%;
        width: 60%;
        margin-left: 0;
        margin-right: 0;
        &:hover {
            background-color: $dark-blue;
            transition-delay: 50ms;
            cursor: pointer;
        }
    }
}

aside {
    grid-area: "ad";
    max-width: 550px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: grey;
    margin: 7%;
}

#artistas
    ul{
        list-style-type: none;
        font-weight: bold;
        padding-top: 12%;
        padding-bottom: 10%;
        text-align: center;
        display: grid;
        grid-template-areas:
        "parsec circo bian"
        "guada aquelo lucia"
        "ladro aftern cande";
        justify-content: space-evenly;
        li{
            width: 250px;
            height: 250px;
            padding-top: 45%;
        }     
        #parsec {
            background-image: url(../images/parsec.png);
            grid-area: "parsec";
        }
        #circo {
            background-image: url(../images/circo_demons.png);
            grid-area: "circo";
        }
        #bian {
            background-image: url(../images/bianxhi.png);
            grid-area: "bian";
        }   
        #guada {
            background-image: url(../images/guada.png);
            grid-area: "guada";
        }
        #aquelo {
            background-image: url(../images/aquelo.png);
            color: rgb(185, 13, 99);
            grid-area: "aquelo";
        }
        #lucia {
            background-image: url(../images/lu.png);
            color: rgb(20, 20, 121);
            grid-area: "lucia";
        }
        #ladro {
            background-image: url(../images/ladro.png);
            color: black;
            grid-area: "ladro";
        }
        #aftern {
            background-image: url(../images/an.png);
            color: black;
            grid-area: "aftern";
        }
        #cande {
            background-image: url(../images/cande.png);
            color: rgb(241, 210, 34);
            grid-area: "cande";
        }
    div {
        margin-bottom: 5%;
        &:hover {
            font-size: 18px;
            transform: ease 50ms;
            cursor: pointer;
            opacity: 60%;
        }
    }
}

#fechas {
    background-color: #011c27;
    color: white;
    font-weight: bold;
    margin-top: 15%;
    text-align: center;

    #border-table {
        background-color: white;
        color: #011c27;
    }
}

#modal_contacto {
    background-color: silver;
    color: black;
}

#temario ul {
    list-style-type: none;
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: center;

        li {
            background-color: orange;
            border: white solid 1px;
            padding-top: 1%;
            padding-bottom: 1%;
            margin: auto auto 1% auto;
            width: 60%;
            cursor: pointer;

            :hover {
                opacity: 70%;
                color: white;
                background-color: #043b53;
                transition: 300ms;
            }

            a {
                text-decoration: none;
                color: white;
            }
        
    }
}

footer {
    background-image: linear-gradient(to top, $dark-blue, $blue);
    height: auto;
    position: relative;
    bottom: 0;

    .fa {
        padding: 20px;
        font-size: $base-font-size;
        width: 5%;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        &:hover {
            color: orange;
        }
    }
}

@media (max-width: 600px) {
    div {
        aside {
            min-width: 95%;
            background-color: red;
            height: 150px;
        }
    }
}

@media (min-width: 990px) and (max-width: 1198px) {
    header nav#menu {
        margin-left: 15%;
    }
}

@media (min-width: 601px) and (max-width: 1640px) {
    div {
        aside {
            min-width: 95%;
            min-height: 35%;
            background-color: salmon;
        }
    }
}

@media (min-width: 1000px) {
    header nav #menu {
            margin-left: 30%;
    }
}